<div class="row" >
  <div class="container">
    <h3 style='text-align:center'>CryptoTracker</h3>
    <div class="col-xs-12">
        <div class="search">
        <input type="text" class='form-control' placeholder="Search by Name" #speccurr (keyup.enter)="getCurr()">
        <!-- <span class="input-group-btn">
        <button class='btn btn-success' type='button' (click)="getCurr()" >Go</button>
       </span> -->
        </div>
        <div *ngIf="specCurr"  >
          <div class='details' *ngFor="let crypto of specCurr" >
            <!-- {{crypto.name}} | {{crypto.price_inr}} -->
            <div> 
                <strong>{{crypto.symbol | uppercase }} | </strong>{{crypto.name}}
                 
                 <span class='right'>
                   {{crypto.price_usd | currency:'USD':'symbol' }} | {{crypto.price_inr | currency:'INR':'symbol'}}
                 </span >
               </div>
              <div style='font-weight:bold;' >24h :
              <span [ngStyle]="{'color': crypto.percent_change_24h < 0 ? 'red' : 'green' }">
                 {{ crypto.percent_change_24h }} %
              </span>
               | 7d : <span [ngStyle]="{'color': crypto.percent_change_7d < 0 ? 'red' : 'green' }">
                   {{ crypto.percent_change_7d }} %
                </span>
              </div>
              <div>
   
              </div>
          </div>
          <hr width=50% >
        </div>
        <div class='details' *ngIf="detailedCrypto" >
           <div> 
             <strong>{{detailedCrypto.symbol | uppercase }} | </strong> {{detailedCrypto.name}}
              
              <span class='right'>
                {{detailedCrypto.price_usd | currency:'USD':'symbol' }} | {{detailedCrypto.price_inr | currency:'INR':'symbol'}}
              </span>
            </div>
           <div style='font-weight:bold;' >24h :
           <span [ngStyle]="{'color': detailedCrypto.percent_change_24h < 0 ? 'red' : 'green' }">
              {{ detailedCrypto.percent_change_24h }} %
           </span>
            | 7d : <span [ngStyle]="{'color': detailedCrypto.percent_change_7d < 0 ? 'red' : 'green' }">
                {{ detailedCrypto.percent_change_7d }} %
             </span>
           </div>
           <div>

           </div>
        </div>
        
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
  <div class="col-xs-12">
    <div *ngIf="cryptos" >
      <div id='crypto-container' *ngFor="let crypto of cryptos" (click)='showDetails(crypto)' >
        <span class="left"> {{crypto.name}} ({{crypto.symbol}}) </span>
        <span class="right"> {{ crypto.price_inr | currency:'INR':'symbol-narrow' }} </span>
      </div>
    </div>
  </div>
</div>
</div>
